/* 
 * Credits for this checkbox design: Hannes Kamecke
 * https://codepen.io/hansmaad/pen/qaGrQL
 */
.md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
}
.md-checkbox.md-checkbox-inline {
  display: inline-block;
}
.md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}
.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid #0000008a;
  border-radius: 0.125em;
  cursor: pointer;
  transition: background 0.3s;
}
.md-checkbox input[type=checkbox] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.md-checkbox input[type=checkbox]:checked + label:before {
  background: #0000008a;
  border: none;
}
.md-checkbox input[type=checkbox]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.md-checkbox input[type=checkbox]:disabled + label:before {
  border-color: #00000042;
}
.md-checkbox input[type=checkbox]:disabled:checked + label:before {
  background: #00000042;
}

*, *:before, *:after {
  box-sizing: border-box;
}